<div class="my-3">
  <h2>Exhaust Map</h2>
  <hr />
  <div class="results">
    <h5>Save Data</h5>
    <hr />
    <div class="row">
      <div class="col-md-5 mr-auto">
        <div class="row justify-content-center">
          <div class="col-md-12">
            <button class="btn btn-success" (click)="btnClick()">
              Save Data
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div *ngIf="fetching" class="text-center">
          <div class="spinner-border text-warning" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          Saving...
        </div>
      </div>

      <ul class="techList">
        <li><strong>Save Request: </strong>{{ num }}</li>
      </ul>
    </div>
  </div>
</div>
