<div class="my-3">
  <h2>Retry, RetryWhen, Scan and Delay</h2>
  <hr />
  <p class="bg-light d-inline-block py-2 px-3 border">
    Random Names: 'Akshay', 'Gajanan', 'Jedhe', 'Angular', 'NC', 'FE'
  </p>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <strong>Ex.1 | Retry</strong>
      <hr />
      <ul id="elContainer1"></ul>
    </div>
    <div class="col-md-4">
      <strong>Ex.2 | RetryWhen</strong>
      <hr />
      <ul id="elContainer2"></ul>
    </div>
    <div class="col-md-4">
      <strong>Ex.3 | Scan and Delay</strong>
      <hr />
      <ul id="elContainer3"></ul>
    </div>
  </div>
</div>
