<div class="my-3">
  <h2>Custom Observable</h2>
  <br />
  <hr />
  <div class="row">
    <div class="col-md-6">
      <strong>Ex. 1 (Manual)</strong>
      <hr />
      <ul
        [ngClass]="
          techStatus === 'completed'
            ? 'completed'
            : techStatus === 'error'
            ? 'error'
            : ''
        "
        class="techList"
        id="elContainer1"
      ></ul>
    </div>
    <div class="col-md-6">
      <strong>Ex. 2 (Custom Interval Observable)</strong>
      <hr />
      <ul
        [ngClass]="
          techStatus2 === 'completed'
            ? 'completed'
            : techStatus2 === 'error'
            ? 'error'
            : ''
        "
        class="techList"
        id="elContainer2"
      ></ul>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <p class="border rounded bg-light py-2 px-3">
        <strong>Random Names: </strong>
        'Akshay', 'Gajanan', 'Jedhe', 'Pooja', 'Temp'
      </p>
      <hr />
      <p>
        Current Names:
        <strong>{{ names }}</strong>
      </p>
      <span
        [ngClass]="
          namesStatus === 'completed'
            ? 'text-bg-success'
            : namesStatus === 'error'
            ? 'text-bg-danger'
            : 'text-bg-primary'
        "
        class="badge"
        >{{namesStatus === 'completed' ? 'Success' : namesStatus === 'error' ? 'Error' : 'Running'}}</span
      >
    </div>
  </div>
</div>
