<div class="my-3">
  <h2>Custom Observable</h2>
  <br />
  <hr />
  <div class="row">
    <div class="col-md-6">
      <strong>Ex. 1 (Manual)</strong>
      <hr />
      <ul class="techList">
        <li>Angular</li>
        <li>HTML</li>
        <li>CSS</li>
      </ul>
    </div>
    <div class="col-md-6">
      <strong>Ex. 1 (Custom Interval Observable)</strong>
      <hr />
      <ul class="techList">
        <li>Angular</li>
        <li>HTML</li>
        <li>CSS</li>
      </ul>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <p class="border rounded bg-light py-2 px-3">
        <strong>Random Names: </strong>
        'Akshay', 'Gajanan', 'Jedhe'
      </p>
      <hr />
      <p>
        <strong class="text-success">Current Names: </strong>
        'Akshay', 'Gajanan', 'Jedhe'
      </p>
      <span class="badge text-bg-success">Success</span>
    </div>
  </div>
</div>
