<div class="row">
  <div class="col-md-12">
    <ul class="list">
      <li><a routerLink="fromEvent">From Event</a></li>
      <li><a routerLink="interval">Interval</a></li>
      <li><a routerLink="ofFrom">Of From</a></li>
      <li><a routerLink="toArray">To Array</a></li>
      <li><a routerLink="custom">Custom Observable</a></li>
      <li><a routerLink="map">Map</a></li>
      <li><a routerLink="pluck">Pluck</a></li>
      <li><a routerLink="filter">Filter</a></li>
      <li><a routerLink="tap">Tap</a></li>
      <li><a routerLink="take">Take, TakeLast and TakeUntil</a></li>
      <li><a routerLink="retry">Retry, RetryWhen, Scan and Delay</a></li>
      <li><a routerLink="debounce">DebounceTime & DistinctUntilChanged</a></li>
      <li><a routerLink="subject">Subject and BehaviorSubject</a></li>
      <li><a routerLink="replaySubject">Replay Subject</a></li>
      <li><a routerLink="asyncSubject">Async Subject</a></li>
      <li><a routerLink="concat">Concat</a></li>
      <li><a routerLink="merge">Merge</a></li>
      <li><a routerLink="mergeMap">Merge Map</a></li>
      <li><a routerLink="concatMap">Concat Map</a></li>
      <li><a routerLink="concatMap2">Concat Map 2</a></li>
      <li><a routerLink="switchMap">Switch Map</a></li>
      <li><a routerLink="switchMap2">Switch Map 2</a></li>
      <li><a routerLink="exhaust">Exhaust Map</a></li>
      <li><a routerLink="shareReplay">Share Replay</a></li>
      <li>
        <a routerLink="combineLatest">CombineLatest and WithLatestFrom</a>
      </li>
      <li><a routerLink="zip">Zip & ForkJoin</a></li>
    </ul>
  </div>
</div>
