<div class="my-3">
  <h2>Merge Map</h2>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <strong>Ex.1 Map</strong>
      <hr />
      <p class="border rounded bg-light py-2 px-3">
        <strong>videos: </strong>['Tech', 'Comedy', 'News']
      </p>
      <hr />
      <ul id="elContainer1"></ul>
    </div>
    <div class="col-md-4">
      <strong>Ex.2 Map + mergeAll</strong>
      <hr />
      <p class="border rounded bg-light py-2 px-3">
        <strong>videos: </strong>['Tech', 'Comedy', 'News']
      </p>
      <hr />
      <ul id="elContainer2"></ul>
    </div>
    <div class="col-md-4">
      <strong>Ex.3 mergeMap</strong>
      <hr />
      <p class="border rounded bg-light py-2 px-3">
        <strong>videos: </strong>['Tech', 'Comedy', 'News']
      </p>
      <hr />
      <ul id="elContainer3"></ul>
    </div>
  </div>
</div>
