<div class="my-3">
  <div class="row">
    <div class="col-md-4">
      <strong>Ex 1: With Promise</strong>
      <hr />
      <button type="button" class="btn btn-primary" (click)="fetch1()">
        Bye Laptop
      </button>
      <hr />
      <div>{{ data1 }}</div>
    </div>
    <div class="col-md-4">
      <strong>Ex 2: With Async / Await</strong>
      <hr />
      <button type="button" class="btn btn-primary" (click)="fetch2()">
        Bye Laptop
      </button>
      <hr />
      <div>{{ data2 }}</div>
    </div>
    <div class="col-md-4">
      <strong>Ex 3: With Fetch API</strong>
      <hr />
      <button type="button" class="btn btn-primary" (click)="fetch3()">
        Bye Laptop
      </button>
      <hr />
      <div>{{ data3 }}</div>
    </div>
  </div>
</div>
