<div class="my-3">
  <h2>Concat Map</h2>
  <hr />
  <div class="row">
    <div class="iphone-x">
      <i>Speaker</i>
      <b>Camera</b>
      <s>10:24</s>

      <div class="notification">
        <div class="item">
          <div class="header">
            <div class="app">
              <img
                src="https://cdn-icons-png.flaticon.com/512/124/124010.png"
                alt="fb"
                width="20"
              />
              Facebook
            </div>
            <div class="time">4 sec ago</div>
          </div>
          <div class="body">
            <img
              src="https://placeimg.com/50/50/tech/4"
              alt="fb"
              class="item-img"
            />
            <strong>Akshay</strong>
            <p>Commented on your post: Awesome...</p>
          </div>
        </div>
        <div class="item">
          <div class="header">
            <div class="app">
              <img
                src="https://cdn-icons-png.flaticon.com/512/124/124010.png"
                alt="fb"
                width="20"
              />
              Facebook
            </div>
            <div class="time">4 sec ago</div>
          </div>
          <div class="body">
            <img
              src="https://placeimg.com/50/50/tech/4"
              alt="fb"
              class="item-img"
            />
            <strong>Akshay</strong>
            <p>Commented on your post: Awesome...</p>
          </div>
        </div>
        <div class="item">
          <div class="header">
            <div class="app">
              <img
                src="https://cdn-icons-png.flaticon.com/512/124/124010.png"
                alt="fb"
                width="20"
              />
              Facebook
            </div>
            <div class="time">4 sec ago</div>
          </div>
          <div class="body">
            <img
              src="https://placeimg.com/50/50/tech/4"
              alt="fb"
              class="item-img"
            />
            <strong>Akshay</strong>
            <p>Commented on your post: Awesome...</p>
          </div>
        </div>
        <div class="item">
          <div class="header">
            <div class="app">
              <img
                src="https://cdn-icons-png.flaticon.com/512/124/124010.png"
                alt="fb"
                width="20"
              />
              Facebook
            </div>
            <div class="time">4 sec ago</div>
          </div>
          <div class="body">
            <img
              src="https://placeimg.com/50/50/tech/4"
              alt="fb"
              class="item-img"
            />
            <strong>Akshay</strong>
            <p>Commented on your post: Awesome...</p>
          </div>
        </div>
      </div>

      <span>Left action button</span>
      <span>Right action button</span>
    </div>
  </div>
</div>
