<nav
  class="navbar navbar-expand-lg bg-light"
  style="background-color: #084298 !important"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <strong>
        RXJS
        <span *ngIf="exclusive" class="badge text-bg-primary">Exclusive</span>
      </strong>
    </a>
    <button (click)="onNavToggle()"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.show]="navOpen" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLinkActive="active" routerLink="/promise"
          >Promise</a
        >
        <a class="nav-link" routerLinkActive="active" routerLink="/observable"
          >Observable</a
        >
      </div>
    </div>
  </div>
</nav>
